.herounit {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;

    .content {
        flex-basis: 60%;
    }

    .release {
        flex-basis: 35%;
        padding-left: 5%;
        min-height: 260px;
    }

    .download-buttons {
        flex-wrap: wrap;

        div {
            flex-basis: 40%;
        }
        label {
            font-size: 12px;
        }
    }

    .progressbar {
        width: 100%;
        height: 5px;
        background: #eee;

        .progress {
            width: 0;
            height: 5px;
            background: green;
            transition: width 2s;
        }

        .label {
            padding-top: 10px;
        }
    }
}

.usecase {
    padding-bottom: 30px;
    .wrap {
        flex-wrap: wrap;
        > div {
            flex-basis: 50%;
        }
    }
    .item {
        min-height: 70px;
    }
}

@media (max-width:732px)  {
    .herounit {
        .content {
            flex-basis: 100%;
        }

        .release {
            flex-basis: 100%;
            padding-left: 0;
        }

        .download-buttons {
            div {
                flex-basis: 100%;
                margin: 0;
            }
        }
    }

    .usecase {
        padding-bottom: 30px;
        .wrap {
            > div {
                flex-basis: 100%;
            }
            margin: 0;
        }
        .item {
            padding-bottom: 10px;
            min-height: 0;
        }
    }
}