<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <div class="flex" aria-label="Content">
      <div class="container herounit">
        <div class="flex flex--vertical content">
          <h3 class="flex">Cylc (“silk”) is a workflow engine for cycling systems</h3>
          <p>Cylc was originally developed for operational environmental forecasting at NIWA by Dr Hilary Oliver - however it is not specialized to forecasting in any way. It is now an Open Source collaboration involving NIWA, Met Office, and others. It is available under the GPL v3 license.</p>
          <div class="flex download-buttons">
            <div class="flex flex--vertical m-r">
              <label>Production</label>
              <button class="button flex">
                <img src={{'/assets/icon-download.svg'}} />
                Cylc-flow-7.4.3
              </button>
              <label>Released 2019-09-09</label>
            </div>
            <div class="flex flex--vertical m-l">
                <label>Preview</label>
                <button class="button flex">
                  <img src={{'/assets/icon-download.svg'}} />
                  Cylc-flow-7.4.3
                </button>
                <label>Released 2019-09-09</label>
              </div>
          </div>
        </div>
        <div class="flex flex--vertical release jc-space-around">
            <div class="flex flex--vertical">
              <h3 class="flex jc-center">Next Release</h3>
              <div class="flex">
                <div class="progressbar">
                  <div class="progress"></div>
                  <div class="flex label jc-space-between">
                    <span>0%</span>
                    <span>100%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex--vertical">
              <div class="flex ai-center jc-space-between">
                <div class="flex">
                  <h4 class="flex"><b>Previous Release</b></h4>
                </div>
                <button class="button transparent flex repel">
                  <img src={{'/assets/icon-github.svg'}} alt="Clone Github repo"/>
                  Clone CYLC
                </button>
              </div>
              <div class="flex flex--vertical">
                  <a href="{{ '/features' | prepend: site.baseurl }}">Cylc-flow-7.4.2</a>
                  <a href="{{ '/features' | prepend: site.baseurl }}">Cylc-flow-7.4.1</a>
                  <a href="{{ '/features' | prepend: site.baseurl }}">Cylc-flow-7.4.0</a>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="flex usecase bg-grey">
      <div class="container flex--vertical">
        <div class="flex">
          <h3>Use Case for Cylcing</h3>
        </div>
        
        <div class="flex wrap">
          <div class="flex flex--vertical">
            <div class="flex item">
                <li>Running successive cycles of an environmental forecasting system.</li>
            </div>
            <div class="flex item">
                <li>Splitting long model integrations into many smaller chunks, with associated processing tasks for each chunk.</li>
              </div>
          </div>

          <div class="flex flex--vertical">
              <div class="flex item">
                  <li>Running successive steps in some multi-task iterative process, such as for optimizing model parameters.</li>
              </div>
              <div class="flex item">
                <li>Processing a series of datasets (potentially concurrently, to the extent possible) as they are generated or received.</li>
                </div>
            </div>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
